@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 13% 92%;
    --foreground: 210 24% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 24% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 24% 16%;
    --primary: 210 36% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 13% 96%;
    --secondary-foreground: 210 36% 28%;
    --muted: 210 13% 88%;
    --muted-foreground: 210 20% 45%;
    --accent: 145 58% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 13% 84%;
    --input: 210 13% 88%;
    --ring: 210 36% 28%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 20% 12%;
    --foreground: 210 13% 92%;
    --card: 210 20% 15%;
    --card-foreground: 210 13% 92%;
    --popover: 210 20% 12%;
    --popover-foreground: 210 13% 92%;
    --primary: 210 13% 92%;
    --primary-foreground: 210 36% 28%;
    --secondary: 210 20% 20%;
    --secondary-foreground: 210 13% 92%;
    --muted: 210 20% 20%;
    --muted-foreground: 210 13% 60%;
    --accent: 145 58% 55%;
    --accent-foreground: 210 36% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 145 58% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
