name: Build and Deploy to Dev

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Get short commit SHA
      id: sha
      run: |
        # The full SHA is in the GITHUB_SHA environment variable
        FULL_SHA="${{ github.sha }}"
        # Use parameter expansion to get the first 7 characters
        SHORT_SHA="${FULL_SHA:0:7}"
        # Make the short SHA available as an output for this step
        echo "short_sha=$SHORT_SHA" >> $GITHUB_OUTPUT
      shell: bash
    - name: Build and Publish Versioned Docker Image
      uses: macbre/push-to-ghcr@master
      with:
          image_name: ikapiar/tawasul
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: Dockerfile
          context: .
          image_tag: ${{ steps.sha.outputs.short_sha }}
    - name: Build and Publish Latest Docker Image
      uses: macbre/push-to-ghcr@master
      with:
        image_name: ikapiar/tawasul
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dockerfile: Dockerfile
        context: .
        image_tag: latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Install Kubectl
      uses: azure/setup-kubectl@v3
    - name: Write Kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
        chmod 600 ~/.kube/config
    - name: Connect to Cluster Wireguard
      uses: niklaskeerl/easy-wireguard-action@v2
      with:
        WG_CONFIG_FILE: ${{ secrets.WIREGUARD_CONFIG }}
    - name: Get short commit SHA
      id: sha
      run: |
        # The full SHA is in the GITHUB_SHA environment variable
        FULL_SHA="${{ github.sha }}"
        # Use parameter expansion to get the first 7 characters
        SHORT_SHA="${FULL_SHA:0:7}"
        # Make the short SHA available as an output for this step
        echo "short_sha=$SHORT_SHA" >> $GITHUB_OUTPUT
      shell: bash
    - name: Create config.env file from secrets
      run: |
        echo '' > ./deploy/dev/config.env
        echo "APP_HOSTNAME=${{ secrets.APP_HOSTNAME }}" >> ./deploy/dev/config.env
        echo "APP_IMAGE_REFERENCE=ghcr.io/ikapiar/tawasul:${{ steps.sha.outputs.short_sha }}" >> ./deploy/dev/config.env
        echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" >> ./deploy/dev/config.env   
    - name: Create secrets.env file from secrets
      run: |
        echo '' > ./deploy/dev/secrets.env
        echo "POSTGRESQL_URI=${{ secrets.POSTGRESQL_URI }}" >> ./deploy/dev/secrets.env
        echo GOOGLE_OAUTH_CLIENT_ID=${{ secrets.GOOGLE_OAUTH_CLIENT_ID }} >> ./deploy/dev/secrets.env
        echo GOOGLE_OAUTH_CLIENT_SECRET=${{ secrets.GOOGLE_OAUTH_CLIENT_SECRET }} >> ./deploy/dev/secrets.env
        echo "GOOGLE_OAUTH_REDIRECT_URL=${{ secrets.GOOGLE_OAUTH_REDIRECT_URL }}" >> ./deploy/dev/secrets.env
        echo SYMMETRIC_ENCRYPTION_KEY_SECRET=${{ secrets.SYMMETRIC_ENCRYPTION_KEY_SECRET }} >> ./deploy/dev/secrets.env
        echo SYMMETRIC_ENCRYPTION_KEY_IV=${{ secrets.SYMMETRIC_ENCRYPTION_KEY_IV }} >> ./deploy/dev/secrets.env
        echo JWT_PRIVATE_KEY_BASE64=${{ secrets.JWT_PRIVATE_KEY_BASE64 }} >> ./deploy/dev/secrets.env
        echo JWT_PUBLIC_KEY_BASE64=${{ secrets.JWT_PUBLIC_KEY_BASE64 }} >> ./deploy/dev/secrets.env
        echo FRONTEND_BASE_URL=${{ secrets.FRONTEND_BASE_URL }} >> ./deploy/dev/secrets.env
        echo "IKAPIAR_ADMIN_EMAIL=${{ secrets.IKAPIAR_ADMIN_EMAIL }}" >> ./deploy/dev/secrets.env
        echo "SENTRY_DSN=${{ secrets.SENTRY_DSN }}" >> ./deploy/dev/secrets.env
        echo APP_ENV=dev >> ./deploy/dev/secrets.env
      shell: bash
    - name: Deploy to K8s
      run: kubectl apply -k ./deploy/dev/